.MainContainer {
    background-image: url('../assets/homepage_image.jpeg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* if you want it to cover the full viewport height */
    border: 2px black solid;
  }