.menu-items {
    margin-top: 20px;
  }
  
  .menu-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  
  .menu-item h3 {
    margin: 0;
    color: #333;
  }
  
  .menu-item p {
    margin: 5px 0;
    color: #666;
  }